:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
  margin:0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
}

main {
  display: flex;
  flex-direction: row;  
}

.left-main {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: calc(100vw - (100vh * 0.7625));
  background-image: url('images/bg-pattern-desktop.svg');
  background-size: max(calc(100vw - (100vh * 0.7625)), 500px) 100vh;
}

.header {
  flex: 1;
}

.header-logo {
  margin-top: 5%;
  width: 130px;
}

.card {
  flex: 3;
}

.header, .card {
  width: 380px;  
  margin: 0 auto;
}

.card-title {
  letter-spacing: 0.2em;
  font-size: 45px;
  color: var(--dark-grayish-red)
}

.card-title-highlight {
  font-weight: 300;
  color: var(--desaturated-red);
}

.card-description {
  margin-top: 15px;
  line-height: 1.7em;  
  font-size: 0.8em;
  color: var(--desaturated-red)
}

.hero-mobile {
  display: none;
}

.hero-desktop {
  display: block;
  height: 100vh;
  width: calc(100vw - 500px);
  max-width: calc(100vh * 0.7625);
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.card-input {
  width: 100%;
  position: relative;
  margin-top: 25px;
}

#input {  
  padding-left: 30px;
  border-radius: 30px;
  height: 50px;
  width: calc(100% - 60px);
  border: thin solid var(--dark-grayish-red);
  font-size: 0.9em;
  color: var(--dark-grayish-red);
}

#input:focus-visible {
  outline: thin solid var(--soft-red);
}

#input::placeholder {
  color: var(--desaturated-red);
  opacity: 70%;
}

.card-btn {
  width: 100px;
  margin-top: -1px;
  height: 54px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: calc(100% - 100px);
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.card-btn:hover, .card-btn:focus-visible {
  background: #fad6d6ff;
  box-shadow: 0px 10px 20px #fad6d6ff;
}

.card-error-icon {
  display: none;
  position: absolute;
  right: 115px;
  margin-top: 13px;
}

#error-prompt {
  display: none;
  padding-left: 30px;
  margin-top: 10px;
  font-size: 0.9em;
  color: var(--soft-red);
}

@media (max-width: 700px) {

html {
  height: 100%;
}


body {
  /* height: 100%; */
  width: 100vw;
  /* background: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%)); */
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  /* width: 100%; */
  /* height: 1000px; */
}

.left-main {
  height: 100vh;
  width: 100%;
  background-image: none;
  background: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

.header {
  height: 100px;
  flex: none;
}

.header-logo {
  margin-top: 35px;
}
 
.hero-desktop {
  display: none;
}  

.hero-mobile {
  display: inline;
}

.card {
  height: 2000px;
  /* flex-grow: 1; */  
}

.card-title, .card-description {
  text-align: center;
}

.card-title {
  margin-top: 70px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 3.7em;
}

.card-description {
  font-size: 1.1em;
  margin-bottom: 40px;
}

.card-input {
  height: 100px;
  /* background-color: antiquewhite; */
}

#input {
  height: 60px;
}

.card-btn {
  position: absolute;
  width: 80px;
  height: 64px;
  left: calc(100% - 80px);
}

.card-error-icon {
  display: none;
  position: absolute;
  right: 95px;
  margin-top: 15px;
  width: 30px;
}

#input {
  font-size: 1.1em;
}

#error-prompt {
  font-size: 1.1em;
  margin-top: 20px;
}

}